up.json
{
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "search-contact",
                "responseMode": "responseNode",
                "options": {}
            },
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "authentication": "genericCredentialType",
                "genericAuthType": "httpBasicAuth",
                "url": "https://api.close.com/api/v1/contact/",
                "qs": {
                    "parameter": [
                        {
                            "name": "query",
                            "value": "=email:\"{{ $json.body.email }}\""
                        }
                    ]
                },
                "options": {
                    "response": {
                        "response": {
                            "splitIntoItems": true,
                            "itemPropertyName": "data"
                        }
                    }
                }
            },
            "name": "Search Contact",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $json.status }}",
                            "operation": "equals",
                            "value2": "Application submitted"
                        }
                    ]
                }
            },
            "name": "Check Status",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://your-webhook.com/endpoint",
                "jsonParameters": true,
                "bodyParametersJson": "={{ $json }}"
            },
            "name": "Send to Webhook",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                850,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { \"success\": true, \"message\": \"Contact found and sent\" } }}"
            },
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1050,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Search Contact",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Search Contact": {
            "main": [
                [
                    {
                        "node": "Check Status",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Status": {
            "main": [
                [
                    {
                        "node": "Send to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send to Webhook": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}